name: Pack
on:
  push:
    branches: [ main ]
jobs:
  pack:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 8.0.*
    - name: Pack
      run: ./build.sh --pack
    - name: Upload package
      uses: actions/upload-artifact@v4
      with:
        name: NuGet packages
        path: artifacts/package/release/*.nupkg